/*Globales*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
background-color: rgb(247, 247, 247);

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 2.5rem;
}
h2{
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto 0rem;
    
}
h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 2rem;
}
hr{
    background-color: rgb(52, 52, 52);
    height: 2px;
}

/*cabecera*/
.cabecera{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    background-color: white;
}
.navegacion{
    margin: 0 auto;
}
.navegacion a{
    
    display: inline-block;
  text-align: center;
}
.titulo{
    margin: auto auto;
}
.carrito{
    width: 20%;
    z-index: 100;
}
.carrito img{
    width: 70%;
    display: block;
    margin: auto auto;
}
@media(min-width: 640px) {
    .carrito img{
        width: 20%;
    }
}
.subMenu ul {
    list-style: none;
    font-size:0 /* truco por el uso de inline-block*/
 }
 .subMenu img:hover{
    cursor: pointer;
}
.subMenu li {
    display: inline-block;
    width: 100%;
    position:relative;
    font-size: 1rem;
    font-weight: bold;
    
 }

 .subMenu ul ul {
    position: absolute;
    display: none;
 }
 .subMenu  ul li {
    display: block;
 }
 .subMenu li:hover ul {
    display:block;
 }
 .subMenu  ul li ul li { /*posicion de la tabla*/
    display: block;
    right: 95%;
    top: 10%;
 }
.carritoTabla{ /*estilos de la tabla general*/
    background-color: white;
    width: 100%;
    border: 1px solid rgb(52, 52, 52);
    border-radius: 0.5rem;
    
}
.carritoTabla td{
    padding:  1rem 1rem;   
    text-align: center;
} 



/*imagen de portada*/
.portada{
    position: relative;
}
.bannerPrincipal{
    width: 100%;
}
.bannerPrincipal img{
    width: 100%;
}
.bannerPrincipal2 img{
    display: block;
    width: 100%;
    
}
.bannerPrincipal2{
    width: 25%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-55%, -50%);
}
.parrafo p:nth-child(1){
   font-size: 1.7rem;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-55%, -50%);
    color: white;
}
.parrafo p:nth-child(2){
   
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-55%, -50%);
    color: white;
}
@media(min-width: 640px) {
     h1{
        font-size: 1rem;
    background-color: red;
        
    }
}
.democratizando{
    background-color: rgb(255, 241, 160);
    padding: 2rem;
    font-weight: 400;
}

.informacionPrincipal{
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
}
.frase{
    position: relative;
    padding: 6rem;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}
.frase img{
    position: absolute;
    width: 15%;
    top: 25%;
    left: 15%;
    transform: translate(-55%, -50%);
}
.prologo{
    width: 80%;
    margin: 4rem auto;
}

@media(min-width: 640px) {
    .prologo{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
    }   
}

@media(min-width: 640px) {

}
.cursosInfo{
    display: flex;
    text-align: center;
    margin: 2rem auto;
    
    align-items: center;
}
.cursosInfo p{
    width: 80%;
    font-size: 1.5rem;
    padding: 0rem 2rem ;
    text-align: center;
}
.cursosInfo img{
    display: block;
    width: 15%;
}

@media(min-width: 640px) {
    .cursosIncodeables{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    }
}
.card{
    width: 80%;
    margin: 1rem auto;
    border-radius: 0.5rem;
    background-color: white;
}

.cardImagen img{
    width: 100%;
    border-radius: 0.5rem;
}
.cardInfo{
    padding: 1rem;
}

.CardNombreCurso p{
    margin: 0.5rem 0rem;
    font-weight: bolder;
    font-size: 1.2rem;
}
.CardNombreCurso p:nth-child(2){
    font-weight: normal;
}
.cardEstrellas{
    margin: 1rem 0rem;
}
.estrellaLogo {
    width: 6%;
}
.estrellaLogo img{
    width: 100%;
}
.precio{
    font-size: 1.5rem;
    color: green;
}
button{
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(52, 52, 52);
    border: none;
    color: white;
    font-size: 1.2rem;
}
button:hover{
    cursor: pointer;
    background-color: rgb(253, 212, 99);
    color: black;
}
.eliminar{
    background-color: red;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
    }
    